:root {
    --background-color: rgb(226, 226, 226);
    --main-color: rgb(147, 210, 147);
    --header-color: white;
    --sidebar-width: 100%;
    --sidebar-btn-width: 50px;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* full page */

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: minmax(300px, 0.6fr) 4fr;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    transition: 0.4s;
}

/* side bar */

.sidebar {
    width: var(--sidebar-width);
    display: grid;
    grid-template-rows: 0.75fr 3fr 4fr;
    background-color: var(--main-color);
    transition: 0.4s;
}

.dashboard-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-btn {
    width: var(--sidebar-btn-width);
    transition: 0.4s;
}

.user-nav-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-nav-adjustments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-btn {
    height: 50px;
}

/* content */

.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
    background-color: var(--background-color);
}

/* header */

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--header-color);
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: aqua;
}

.searchbar {
    display: flex;
    flex: 1;
}

.profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icon-bell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: aqua;
}

.icon-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: aqua;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-welcome {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.user-icon-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: aqua;
}

.welcome-text {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.username-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social-btn {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(1200px, 3fr) 0.8fr;
}

.projects {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 12fr;
    padding: 50px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px, 1fr));
    grid-template-rows: repeat(3 , minmax(100px, 1fr));
    grid-auto-rows: auto;
    gap: 60px;
    transition: 0.4s;
}

.card {
    background-color: black;
}

.add-card {
    width: 100%;
    height: 100%;
}

.right-main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 50px;
    margin-top: 50px;
    gap: 25px;
}

.announcements {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-announcement {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.announcements-container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
}

.announcement {
    width: 85%;
    transition: 0.4s;
}

.announcement1, .announcement2 {
    border-bottom: 1px solid rgb(127, 127, 127);
}

.trending {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-trending {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.trending-container {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
}

.profiles-trending {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.left-icon {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}