* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(237, 237, 237);
    width: 100%;
    height: 100%;
    background-color: rgb(82, 80, 171);
    gap: 15px;
}

a , a:visited {
    color: var(--text-color-white);
    text-decoration: none;
    font-size: 1.8rem;
}